/* About Component */
.comics-screen{
    width: 100%;
}

.comics-hero{
    text-align: left;
    width: 70%;
    margin: 0 auto;
    margin-top: 96px;
    margin-bottom: 96px;
}

.main-comics-content{
    text-align: left;
    margin: 0 auto;
    margin-top: 96px;
    margin-bottom: 96px;
}

.main-comics-content h3{
    text-align: center;
    color: #DA0037;
    font-size: 2em;
    line-height: 1.5em;
    margin-bottom: 24px; 
}

.comics-img-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comics-content img{
    width: 50%;
}

.container-comics{
    text-align: left;
}

/* Tabs style */
.nav-link.active {
    color: #000000 !important;
  }
  
  .nav-link {
    color: white !important;
  }

/* Comics Reader Component */
.about img{
    width: 50%;
    margin: auto;
}

/* Comics Reader Component */
.reader-comics {
    width: 50%;
    margin: auto;
    position: relative;
}

.left-btn-comics,
.right-btn-comics {
    position: absolute;
    top: 0;
    bottom: 0;
    opacity: 0;
    width: 50%;
    z-index: 1;
}

.left-btn-comics {
    left: 0;
}

.right-btn-comics {
    right: 0;
}

.page-wrap {
    position: relative;
}

.comics-page {
    width: 100%;
    height: 100%;
    object-fit: cover;
}