/* Hero Section */
.hero{
    text-align: left;
    width: 70%;
    margin-top: 96px;
}

.hero img{
    width: 50%;
    margin: 0 auto;
}

/* Projects Section */
.project-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 96px; */
}

.project-item:nth-child(2n){
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.project-item-text{
    text-align: left;
}

.project-item-text h3{
    color: #DA0037;
    font-size: 2em;
    line-height: 1.5em;
    /* margin-top: 12px;
    margin-bottom: 24px; */
}

.project-item-text p{
    color: #FFFFFF;
    font-size: 1em;
    line-height: 1.5em;
}

.more-src{
    color: #DA0037;
}

.project-item-img img{
    width: 75%;
}

@media (max-width: 720px){
    .hero{
        /* text-align: left; */
        width: 90%;
        /* margin-top: 96px; */
    }
}

@media (max-width: 540px){
    .hero{
        /* text-align: left; */
        width: 100%;
        /* margin-top: 96px; */
    }
    .hero h1{
        font-size: 3em;
        line-height: 1.5em;
    }
}