/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

@font-face {
  font-family: 'Fixel';
  src: url('../public/fonts/FixelText-Regular.otf') format('truetype');
}

html{
  color: #EDEDED;
  background-color: #171717;
}

body {
  color: #EDEDED;
  background-color: #171717;
  font-family: Fixel, sans-serif;
  /* font-family: 'Montserrat', sans-serif; */
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
} */