.up-btn {
    background-color: #DA0037;
    position: fixed;
    right: 75px;
    bottom: 75px;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    transition: all .4s;
    border: none;
}
.up-btn span{
    color: #171717;
}

.up-btn img{
    width: 50%;
}