.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #171717;
}
.loader--hidden {
    opacity: 0;
    visibility: hidden;
}
.loader img {
    width: 15%;
    animation: loading 1s ease infinite;
}
@keyframes loading {
    from { transform: rotate(0turn); }
    to { transform: rotate(1turn); }
}